body{
  font-family: Arial, Helvetica, sans-serif;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid hsl(90, 100%, 80%);
  border-radius: 30px;
  margin-bottom: 25px;
  transition: 0.50s ease;
}

.color-display p{
  color: hsla(242, 91%, 43%, 0.419);
  font-size: 1.5rem;
  text-align: center;
}
label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type = "color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(88, 80%, 70%);
}