body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
}


.stopwatch{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid;
  border-radius: 50px;
  background-color: white;
  padding: 30px;
}

.display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: hsla(0, 1%, 40%, 0.968);
  text-shadow: 4px 4px 5px black;
  margin-bottom: 25px;
}


.controls button{

  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;


}

.start-button{
  background-color: rgba(22, 229, 53, 0.689);
}

.start-button:hover{
  background-color: rgba(63, 130, 73, 0.809);
}


.stop-button{
  background-color: rgb(255, 6, 6);
}

.stop-button:hover{
  background-color: rgba(208, 77, 77, 0.793);
}


.reset-button{
  background-color: rgb(6, 155, 255);
}

.reset-button:hover{
  background-color: rgba(68, 140, 223, 0.648);
}