/* no problem if you remove this whole code as we have the same working coding inside of Button  */

.button{
  /* EXTERNAL styling method */
  background-color: aqua;
  color: white;
  padding: 10px 20ps;
  border-radius: 5px;
  /* removing the border */
  border: none;
  /* changing the cursor when hovering over the button */
  cursor: pointer  
}